body {
    font-family: Arial, sans-serif;
    background-color: rgba(50, 38, 57, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0;
    width:800 px;
    line-height: 3;
}


.container {
    text-align: center;

}

.registration-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height:500px;
    font-weight:bold;
}

h2 {
    color: #004F91;
}

form {
    display: flex;
    flex-direction: column;
    color: #004F91;
    font-weight:bold;
     border-radius: 30px;
}
label {
    font-size: 14px;
    text-align: left;
    margin: 5px 0;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #004F91;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #003366;
}

p {
    margin-top: 10px;
    font-weight:bold;
}

a {
    color: dark;
    text-decoration: none;

}

.social-icons {
    text-align: left;
    margin-top: 10px;
}

.social-icons a {
    padding:10px;
    margin:  14px;
}
